body
{
	box-sizing: border-box;
}
.myself{
	text-align: right;
	color: white;
	background-color: blue;
}
.mySlides {display:none;}
.myself{
	background-color: blue;
}
.sis{
	text-align: right;
	color: white;
	padding: 2px;
	background: blue;
}
.po{
	text-align: left;
	color: white;
}
.footer{
	position: auto;
	left: 0;
	bottom: 0;
	width: 90%;
	height: auto;
	background-color: #35383c;
	padding: 10px;
	color: white;
	background-position: 50% 80%;
	
}
.bluetext{
	background-color: : #35383c;
}
h4{
	border: 1px solid white;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 32%;
  height:25%;
}
.x{
	width: 32%;
	height: 25%;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
} 
.c{
display: flex;
/*position: relative;
overflow: hidden;*/
/*height: auto;*/
width: 80%;
}
div.c > 	div.f
{
	position: absolute;
	width: 25%;

}
.footer{
	display: flex;
	width: 100%
}
.bluetext{
	color: white;
}
.p{
	color: white;
	text-align: center;
	border: 2px solid white;
	padding: left;
}
.x{
	color: #78b27a;
}
.dropbtn{
	background-color: white;
	color: blue;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px
}
.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: darkblue}
.dropdown:hover .dropdown-content{display: block;}
.b{
	font-size: block;
}

.container{
	margin-bottom: 20px;
	float: left;
}
.x{
	background-color: #78b27a;
	width: 32%;
	float: left;
}
.z{
	background-color: #3b5773;
	float: left;
	width: 32%
}
.w{
	background-color: #a67e95;
	float: left;
	width: 32%;
}
.l{
	width: 500px;
	height: 25%
}
.i{
	margin-top: 8%;
	margin-bottom: 8%;
	display: flex;
	position: relative;
	text-align: center;
	color: white;
}
.v{
	position: relative;
}
.o{
	background-color: #78b27a;
	float: left;
	width: 35%;
}
.t{
	background-color: #3b5773;
	float: left;
	width: 100%;
	height: 100%;
}
.r{
	background-color: #a67e95;
	float: left;
	height: 25%;
	width: 35%;
}

